# Virtual environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Project temporary data
*.mp4
*.mp3
*.wav
*.json.info
*.pt
downloads/
temp/

# IDE files
.vscode/
.idea/
.ipynb_checkpoints/
